## Pandas Practice Problem

# Problem Statement: 
Analyzing Customer Purchase Behavior

You have been provided with a dataset containing information about customer transactions from an online retailer. The data includes information such as customer ID, product ID, purchase date, price, and more. The goal is to use Pandas to preprocess, clean, and analyze the data to gain insights into customer purchase behavior and product popularity.

The specific tasks you might undertake could include:

Cleaning and preprocessing the data to remove duplicates, missing values, and other errors.

Merging and aggregating the data to create summary tables and metrics, such as total sales by product or customer.

Analyzing the data to identify trends and patterns in customer purchase behavior, such as which products are frequently purchased together, which products are popular at different times of year, or which customers are most valuable to the business.

Creating visualizations to help communicate the results of your analysis, such as scatter plots, bar charts, or heat maps.

This problem statement is a practical and relevant task that requires expertise in data manipulation, cleaning, and analysis using Pandas. It provides a good opportunity to practice your skills in handling complex datasets and exploring them using Pandas. Additionally, the problem is relevant and practical, making it a great task for an advanced data science learner who is interested in working with Pandas.



There are various datasets that you could use for the problem statement I suggested. Here are a few possible sources:

The Online Retail Data Set: This dataset contains transactional data of a UK-based online retailer from 2010 to 2011. You can download it from the UCI Machine Learning Repository at https://archive.ics.uci.edu/ml/datasets/Online+Retail+II.

Instacart Market Basket Analysis: This dataset contains anonymized data of customer orders from the online grocery store Instacart. It includes information on orders, products, and customers. You can download it from Kaggle at https://www.kaggle.com/c/instacart-market-basket-analysis/data.

Amazon Customer Reviews: This dataset contains reviews and ratings of products sold on Amazon. It includes information such as product ID, customer ID, review text, and rating. You can download it from the Amazon Customer Reviews Dataset page at https://s3.amazonaws.com/amazon-reviews-pds/readme.html.

Note that these datasets may require some preprocessing before you can analyze them using Pandas. You may also want to explore additional datasets to find one that best suits your interests and expertise.

In [1]:
import pandas as pd
data= pd.read_excel("online_retail_II.xlsx")

In [2]:
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [3]:
data.loc[2]

Invoice                      489434
StockCode                    79323W
Description     WHITE CHERRY LIGHTS
Quantity                         12
InvoiceDate     2009-12-01 07:45:00
Price                          6.75
Customer ID                 13085.0
Country              United Kingdom
Name: 2, dtype: object

In [7]:
data.iloc[3]

Invoice                                489438
StockCode                               21100
Description    CHARLIE AND LOLA CHARLOTTE BAG
Quantity                                   30
InvoiceDate               2009-12-01 09:24:00
Price                                    1.15
Customer ID                           18102.0
Country                        United Kingdom
Name: 56, dtype: object

In [8]:
data.isna().sum()

Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [9]:
data["year"]= pd.DatetimeIndex(data["InvoiceDate"]).year

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      525461 non-null  object
 1   StockCode    525461 non-null  object
 2   Description  522533 non-null  object
 3   Quantity     525461 non-null  int64
 4   InvoiceDate  525461 non-null  datetime64[ns]
 5   Price        525461 non-null  float64
 6   Customer ID  417534 non-null  float64
 7   Country      525461 non-null  object
 8   year         525461 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 36.1+ MB

In [11]:
data.nunique()

Invoice        28816
StockCode       4632
Description     4681
Quantity         825
InvoiceDate    25296
Price           1606
Customer ID     4383
Country           40
year               2
dtype: int64

In [12]:
data.shape

(525461, 9)

In [13]:
data.drop_duplicates(inplace= True)

In [14]:
data.shape

(518596, 9)

In [15]:
data["Customer ID"].value_counts()

14911.0    5707
17841.0    5015
14606.0    3863
14156.0    2708
12748.0    2562
           ...
14313.0       1
17557.0       1
14106.0       1
15929.0       1
17661.0       1
Name: Customer ID, Length: 4383, dtype: int64

In [16]:
data["Invoice"].value_counts()

537434     675
538071     652
537638     601
537237     597
536876     593
          ...
528941       1
C533378      1
C529825      1
C505492      1
514701       1
Name: Invoice, Length: 28816, dtype: int64

In [17]:
data["Customer ID"].fillna(" ",inplace=True)
data.shape

(518596, 9)

In [18]:
data["Customer ID"].value_counts()

           107833
14911.0      5707
17841.0      5015
14606.0      3863
14156.0      2708
            ...
13231.0         1
15383.0         1
13222.0         1
13217.0         1
14103.0         1
Name: Customer ID, Length: 4384, dtype: int64

In [19]:
data["Customer ID"].nunique()

4384

In [20]:
data["Description"].value_counts()

WHITE HANGING HEART T-LIGHT HOLDER    3503
REGENCY CAKESTAND 3 TIER              2202
STRAWBERRY CERAMIC TRINKET BOX        1807
PACK OF 72 RETRO SPOT CAKE CASES      1445
ASSORTED COLOUR BIRD ORNAMENT         1443
                                      ...
WOODEN HEART CHRISTMAS SCANDISPOT        1
NUMBER TILE VINTAGE FONT, 4              1
non colour fast                          1
MOP PENDANT SHELL NECKLACE               1
SPOTTY COCKEREL DOORSTOP                 1
Name: Description, Length: 4681, dtype: int64

In [21]:
data["Description"].dropna(inplace=True)

In [22]:
data.shape

(518596, 9)

In [23]:
data["Country"].unique()

array(['United Kingdom', 'France', 'USA', 'Belgium', 'Australia', 'EIRE',
       'Germany', 'Portugal', 'Japan', 'Denmark', 'Nigeria',
       'Netherlands', 'Poland', 'Spain', 'Channel Islands', 'Italy',
       'Cyprus', 'Greece', 'Norway', 'Austria', 'Sweden',
       'United Arab Emirates', 'Finland', 'Switzerland', 'Unspecified',
       'Malta', 'Bahrain', 'RSA', 'Bermuda', 'Hong Kong', 'Singapore',
       'Thailand', 'Israel', 'Lithuania', 'West Indies', 'Lebanon',
       'Korea', 'Brazil', 'Canada', 'Iceland'], dtype=object)

In [24]:
data["Country"].nunique()

40

In [25]:
data["Country"].value_counts()

United Kingdom          479047
EIRE                      9660
Germany                   8120
France                    5754
Netherlands               2768
Spain                     1271
Switzerland               1187
Portugal                  1098
Belgium                   1053
Channel Islands            906
Sweden                     901
Italy                      729
Australia                  654
Cyprus                     546
Austria                    537
Greece                     517
United Arab Emirates       432
Denmark                    428
Norway                     369
Finland                    354
Unspecified                310
USA                        244
Japan                      224
Poland                     194
Malta                      172
Lithuania                  154
Singapore                  117
RSA                        111
Bahrain                    107
Canada                      77
Hong Kong                   76
Thailand                    76
Israel                      74
Iceland                     71
Korea                       63
Brazil                      62
West Indies                 54
Bermuda                     34
Nigeria                     32
Lebanon                     13
Name: Country, dtype: int64

In [26]:
data["Quantity"].value_counts()

 1      141277
 2       77378
 12      60401
 6       44096
 3       35367
         ...
-137         1
 119         1
-394         1
 374         1
-257         1
Name: Quantity, Length: 825, dtype: int64

In [27]:
data= data[data["Quantity"]>0]

In [28]:
data.shape

(506294, 9)

In [29]:
data.groupby("Description")["Price"].value_counts().idxmax()

('WHITE HANGING HEART T-LIGHT HOLDER', 2.95)

In [30]:
x= data["Description"].value_counts().idxmax()

In [31]:
data.groupby("Description")["Price"].value_counts().idxmax()

('WHITE HANGING HEART T-LIGHT HOLDER', 2.95)

In [32]:
data[data["Description"]==x]["Quantity"].sum()

58692

In [33]:
data[data["Description"]==x]["Price"].sum()

10505.08

In [34]:
data["Description"].value_counts()

WHITE HANGING HEART T-LIGHT HOLDER    3410
REGENCY CAKESTAND 3 TIER              2036
STRAWBERRY CERAMIC TRINKET BOX        1679
ASSORTED COLOUR BIRD ORNAMENT         1436
PACK OF 72 RETRO SPOT CAKE CASES      1435
                                      ...
ACRYLIC BEAD CHAIN, PINK                 1
DR WHO TOP TRUMPS GAME                   1
ACRYLIC BEAD CHAIN, BLUE                 1
CAT W SUNGLASSES BLANK CARD              1
SPOTTY COCKEREL DOORSTOP                 1
Name: Description, Length: 4560, dtype: int64

In [35]:
data.groupby("Description")["StockCode"].value_counts().idxmax()

('WHITE HANGING HEART T-LIGHT HOLDER', '85123A')

In [36]:
data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,year
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 506294 entries, 0 to 525460
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      506294 non-null  object
 1   StockCode    506294 non-null  object
 2   Description  505193 non-null  object
 3   Quantity     506294 non-null  int64
 4   InvoiceDate  506294 non-null  datetime64[ns]
 5   Price        506294 non-null  float64
 6   Customer ID  506294 non-null  object
 7   Country      506294 non-null  object
 8   year         506294 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 38.6+ MB